NODE_ENV=dev
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
RESEND_API_KEY=
SUPER_ADMIN_EMAIL=admin@airport.local
SUPER_ADMIN_PASSWORD=Admin123!
